<template>
  <div class="home">
    <v-card dark class="fixed" color="grey" flat tile width="100%">
      <v-toolbar dense flat>
        <v-toolbar-title>Portfolio</v-toolbar-title>
        <v-spacer></v-spacer>

        <v-btn
          @click="$vuetify.goTo('#intro')"
          class="ma-2"
          align="center"
          outlined
          color="white"
          >Home</v-btn
        >
        <v-btn
          @click="$vuetify.goTo('#skills')"
          class="ma-2"
          align="center"
          outlined
          color="white"
          >My skills</v-btn
        >
        <v-btn
          @click="$vuetify.goTo('#works')"
          class="ma-2"
          align="center"
          outlined
          color="white"
          >My works</v-btn
        >
      </v-toolbar>
    </v-card>
    <Intro id="intro" />
    <Skills id="skills" />
    <Works id="works" />
    <v-footer dark>
      <v-spacer />
      <v-icon>mdi-instagram</v-icon>@milamil.b
      <v-spacer />
      <div>&copy; {{ new Date().getFullYear() }}</div>
    </v-footer>
    <!-- <v-footer dark>
      <v-col class="text-center" cols="12">
        @milamil.b
      </v-col>
      <v-divider></v-divider>
      <v-col class="text-center" cols="12">
        {{ new Date().getFullYear() }}
      </v-col>
    </v-footer> -->
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import Works from "@/components/Works.vue";
import Intro from "@/components/Intro.vue";
import Skills from "@/components/Skills.vue";

export default {
  data: () => ({
    icons: ["fab fa-instagram"]
  }),
  name: "Home",
  components: {
    // HelloWorld,
    Works,
    Intro,
    Skills
  }
};
</script>
<style scoped>
.border {
  outline: 1px grey solid;
}
.h100 {
  height: 100%;
}
.fixed {
  position: fixed;
  z-index: 100;
}
</style>
