<template lang="html">
  <div class="container">
    <div class="item-1"><div></div></div>
    <div class="item-2"><div></div></div>
    <div class="item-3"><div></div></div>
    <div class="item-4"><div></div></div>
    <div class="item-5"><div></div></div>
    <div class="item-6"><div></div></div>
    <div class="item-7"><div></div></div>
    <div class="item-8"><div></div></div>
    <div class="item-9"><div></div></div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
$color-1: #e8ddb5;
$color-2: #e8ddb5;
$color-3: #e8ddb5;
$color-4: #b2c9ab;
$color-5: #b2c9ab;
$color-6: #b2c9ab;
$color-7: #92b6b1;
$color-8: #92b6b1;
$color-9: #92b6b1;

$color: $color-1, $color-2, $color-3, $color-4, $color-5, $color-6, $color-7,
  $color-8, $color-9;

@mixin anim($i) {
  $deg: ($i + 1) * 125;

  @keyframes right-#{$i} {
    10% {
      transform: rotate(#{$deg}deg) translate(0, 0px);
    }
    50%,
    65% {
      transform: rotate(#{$deg}deg) translateX(-100px);
    }

    100% {
      transform: rotate(#{$deg}deg) translate(0, 0px);
    }
  }
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

@for $i from 1 through 9 {
  $deg: $i * 36;
  .item-#{$i} {
    @include anim($i);
    width: 100px;
    height: 100px;
    position: absolute;
    animation: right-#{$i} 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 100ms * $i;
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
      width: 20px;
      height: 20px;
      background: #f583a1;
      border-radius: 50%;
      background-color: nth($color, $i);
    }
  }
}
</style>
