<template>
  <section class="section">
    <!-- <v-parallax src="@/assets/abackground.jpg"> -->
    <v-container class="fill-height text-center" fluid>
      <v-row>
        <v-col cols="12">
          <!-- <h1 class="display-1 font-weight-thin mb-4">Vuetify.js</h1>
          <h4 class="subheading">Build your application today!</h4> -->
          <h2 class="subtitle-1">Hello! My name is Mila and I am</h2>
          <h1 class="display-3 font-weight-bold ">Frontend Developer</h1>
          <div class="underline"></div>
          <h1 class="display-3 font-weight-bold">Software Tester</h1>
        </v-col>
      </v-row>
    </v-container>
    <!-- </v-parallax> -->
  </section>
</template>

<script>
export default {
  name: "Intro",
  props: ["msg"],
  data: () => ({})
};
</script>

<style scoped>
.section {
  height: 100vh;
  background-image: url("../assets/abackground.jpg");
  /* background-image: url("../assets/3.jpg"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.underline {
  background: hsla(0, 0%, 52.9%, 0.5);
  width: 300px;
  height: 1px;
  margin: auto;
}
</style>
