<template>
  <section class="skills">
    <!-- <v-parallax src="@/assets/abackground.jpg"> -->
    <v-container align="start" class="fill-height text-center">
      <v-row align-self="start">
        <v-col cols="12">
          <h2 align="center">What can I do for you</h2>
          <div class="underline"></div>
        </v-col>
        <v-col
          cols="12"
          offset-lg="2"
          offset-sm="0"
          offset-md="2"
          offset-xs="0"
          lg="4"
          sm="12"
          md="4"
        >
          <v-lazy min-height="340">
            <transition name="scroll-x-transition">
              <div>
                <SkillCard
                  height="340"
                  :icon="skills[0].icon"
                  :title="skills[0].title"
                  :subtitle="skills[0].subtitle"
                />
              </div>
            </transition>
          </v-lazy>
        </v-col>
        <v-col lg="4" xs="12" sm="12" md="4">
          <v-lazy min-height="340">
            <transition name="scroll-x-reverse-transition">
              <div>
                <SkillCard
                  height="340"
                  :icon="skills[1].icon"
                  :title="skills[1].title"
                  :subtitle="skills[1].subtitle"
                />
              </div>
            </transition>
          </v-lazy>
        </v-col>
      </v-row>
    </v-container>

    <!-- </v-parallax> -->
  </section>
</template>

<script>
import SkillCard from "@/components/SkillCard.vue";
export default {
  name: "Skills",
  components: {
    SkillCard
  },
  data: () => ({
    isActive: false,
    skills: [
      {
        icon: require("@/assets/tv.png"),
        title: "Frontend",
        subtitle: `Layout of beautiful and modern vue.js web pages with full
        adaptability to any device and full interactivity from the PSD
        layout.`
      },
      {
        icon: require("@/assets/desktop.png"),
        title: "Testing",
        subtitle: `Testing of a product that aims to verify the correspondence between
        the actual behavior of the program and its expected behavior on a
        final set of tests selected in a certain way.`
      }
    ]
  })
};
</script>

<style scoped>
.skills {
  height: 100vh;
}
.underline {
  background: hsla(0, 0%, 52.9%, 0.5);
  width: 100px;
  height: 1px;
  margin: 30px auto;
}

.scroll-x-reverse-transition-enter-active {
  transition-delay: 0.5s;
  transition-duration: 1.5s;
}

.scroll-x-reverse-transition-enter, .scroll-x-reverse-transition-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.scroll-x-transition-enter-active {
  transition-delay: 0.5s;
  transition-duration: 1.5s;
}
.scroll-x-transition-enter, .scroll-x-transition-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
