<template>
  <v-card
    class="mx-auto align-center"
    max-width="270"
    :height="height"
    outlined
  >
    <v-card-title class="pt-10">
      <v-img
        class="black--text"
        height="80px"
        width="80px"
        :src="icon"
        contain
      />
    </v-card-title>
    <v-card-text class="mt-2">
      <h2>{{ title }}</h2>
    </v-card-text>

    <v-card-text class="text--primary">
      <p>
        {{ subtitle }}
      </p>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "SkillCard",
  props: ["icon", "title", "subtitle", "height"]
};
</script>

<style scoped></style>
