<template>
  <section class="skills">
    <!-- <v-parallax src="@/assets/abackground.jpg"> -->
    <v-container class="fill-height text-center">
      <v-row>
        <v-col cols="12">
          <h2 align="center">My works</h2>
          <div class="underline"></div>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-for="(work, i) in myWorks"
          :key="i"
          align="center"
          class="mb-3"
          lg="4"
          xs="12"
          sm="12"
          md="6"
        >
          <v-lazy>
            <transition name="scroll-y-reverse-transition">
              <div>
                <WorkCard
                  :name="work.name"
                  :desription="work.desription"
                  :img="work.image"
                  :url="work.url"
                />
              </div>
            </transition>
          </v-lazy>
        </v-col>
      </v-row>
    </v-container>
    <!-- </v-parallax> -->
  </section>
</template>

<script>
import WorkCard from "@/components/WorkCard.vue";
export default {
  name: "Works",
  components: {
    WorkCard
  },
  methods: {
    // a(entries, observer, isIntersecting) {
    //   setTimeout(() => {
    //     this.showWorks = isIntersecting;
    //   }, 200);
    //   console.log({ isIntersecting });
    //   // (work.show = true) && a()
    // }
  },
  data: () => ({
    myWorks: [
      {
        name: "Univer",
        desription: "Portal for students, teachers, admissions and applicants.",
        image: require("@/assets/univer.png"),
        url: "http://testuniver.instaboss.kz/"
        // show: false
      },
      {
        name: "Trip Inside",
        desription:
          '"Trip Inside" service, created to search for group and individual tours.',
        image: require("@/assets/trip-inside.png"),
        url: "https://trip-inside.com/"
        // show: false
      },
      {
        name: "Voxball",
        desription:
          '"Voxball" offers you to register on the portal, create surveys and earn coins',
        image: require("@/assets/voxball.png"),
        url: "http://95.46.8.112:9875/ru/polls"
        // show: false
      }
    ]
  })
};
</script>

<style scoped>
.skills {
  height: 100vh;
}
.underline {
  background: hsla(0, 0%, 52.9%, 0.5);
  width: 100px;
  height: 1px;
  margin: 30px auto;
}

.scroll-y-reverse-transition-enter-active {
  transition-delay: 0.5s;
  transition-duration: 1.5s;
}

.scroll-y-reverse-transition-enter, .scroll-y-reverse-transition-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
