<template>
  <v-hover>
    <template v-slot:default="{ hover }">
      <v-card height="320" class="mx-auto" max-width="400" outlined>
        <v-img :class="{ blur: hover }" contain :src="img" />
        <v-divider />
        <v-card-text>
          <h2 class="title">{{ name }}</h2>
          <p>{{ desription }}</p>
        </v-card-text>

        <v-fade-transition>
          <v-overlay v-if="hover" absolute color="#036358">
            <a :href="url" target="_blank">
              <v-btn>See more info</v-btn>
            </a>
          </v-overlay>
        </v-fade-transition>
      </v-card>
    </template>
  </v-hover>
</template>

<script>
export default {
  name: "WorkCard",
  props: ["img", "title", "subtitle", "height", "name", "desription", "url"]
};
</script>

<style scoped>
.blur {
  filter: blur(0.5px);
}
</style>
