<template>
  <v-app>
    <v-overlay opacity="1" :value="loader">
      <hand />
    </v-overlay>
    <router-view />
  </v-app>
</template>
<script>
import Hand from "@/components/Hand";
export default {
  components: {
    Hand
  },
  data: () => ({
    loader: true
  }),
  mounted() {
    setTimeout(() => {
      this.loader = false;
    }, 3000);
  }
};
</script>
<style lang="scss"></style>
